#img{
  height: 175px;
  width:250px;
  position:fixed;
  transform:translate(-150px,50%);
}
.texto{
  position:fixed;
  z-index: 99;
  transform:translate(50px,240px);
}
input{
  position:default;
  width:25px;
}
